In [1]:
# dependencies
import pandas as pd

In [2]:
#filepath Jan 2020
Jan_2019 = "Resources/JC-201901-citibike-tripdata.csv"
#filepath Feb 2020
Feb_2019 = "Resources/JC-201902-citibike-tripdata.csv"
#filepath March 2020
Mar_2019 = "Resources/JC-201903-citibike-tripdata.csv"
#filepath April 2020
Apr_2019 = "Resources/JC-201904-citibike-tripdata.csv"
#filepath May 2020
May_2019 = "Resources/JC-201905-citibike-tripdata.csv"
#filepath June 2020
June_2019 = "Resources/JC-201906-citibike-tripdata.csv"
#filepath Feb 2020
July_2019 = "Resources/JC-201907-citibike-tripdata.csv"
#filepath March 2020
Aug_2019 = "Resources/JC-201908-citibike-tripdata.csv"
#filepath April 2020
Sep_2019 = "Resources/JC-201909-citibike-tripdata.csv"
#filepath May 2020
Oct_2019 = "Resources/JC-201910-citibike-tripdata.csv"
# filepath Nov 2019
Nov_2019 = "Resources/JC-201911-citibike-tripdata.csv"
#filepath Dec 2019
Dec_2019 = "Resources/JC-201912-citibike-tripdata.csv"

#filepath Jan 2020
Jan_2020 = "Resources/JC-202001-citibike-tripdata.csv"
#filepath Feb 2020
Feb_2020 = "Resources/JC-202002-citibike-tripdata.csv"
#filepath March 2020
Mar_2020 = "Resources/JC-202003-citibike-tripdata.csv"
#filepath April 2020
Apr_2020 = "Resources/JC-202004-citibike-tripdata.csv"
#filepath May 2020
May_2020 = "Resources/JC-202005-citibike-tripdata.csv"
#filepath June 2020
June_2020 = "Resources/JC-202006-citibike-tripdata.csv"
#filepath Feb 2020
July_2020 = "Resources/JC-202007-citibike-tripdata.csv"
#filepath March 2020
Aug_2020 = "Resources/JC-202008-citibike-tripdata.csv"
#filepath April 2020
Sep_2020 = "Resources/JC-202009-citibike-tripdata.csv"
#filepath May 2020
Oct_2020 = "Resources/JC-202010-citibike-tripdata.csv"

In [3]:
# data frame Jan 2019
Jan_2019_df = pd.read_csv(Jan_2019, encoding="ISO-8859-1")
# data frame Feb 2019
Feb_2019_df = pd.read_csv(Feb_2019, encoding="ISO-8859-1")
# data frame March 2019
Mar_2019_df = pd.read_csv(Mar_2019, encoding="ISO-8859-1")
# data frame April 2019
Apr_2019_df = pd.read_csv(Apr_2019, encoding="ISO-8859-1")
# data frame May 2019
May_2019_df = pd.read_csv(May_2019, encoding="ISO-8859-1")
# data frame June 2019
June_2019_df = pd.read_csv(June_2019, encoding="ISO-8859-1")
# data frame July 2019
July_2019_df = pd.read_csv(July_2019, encoding="ISO-8859-1")
# data frame August 2019
Aug_2019_df = pd.read_csv(Aug_2019, encoding="ISO-8859-1")
# data frame September 2019
Sep_2019_df = pd.read_csv(Sep_2019, encoding="ISO-8859-1")
# data frame October 2019
Oct_2019_df = pd.read_csv(Oct_2019, encoding="ISO-8859-1")
# data frame Nov 2019
Nov_2019_df = pd.read_csv(Nov_2019, encoding="ISO-8859-1")
# data frame Dec 2019
Dec_2019_df = pd.read_csv(Dec_2019, encoding="ISO-8859-1")

# data frame Jan 2020
Jan_2020_df = pd.read_csv(Jan_2020, encoding="ISO-8859-1")
# data frame Feb 2020
Feb_2020_df = pd.read_csv(Feb_2020, encoding="ISO-8859-1")
# data frame March 2020
Mar_2020_df = pd.read_csv(Mar_2020, encoding="ISO-8859-1")
# data frame April2020
Apr_2020_df = pd.read_csv(Apr_2020, encoding="ISO-8859-1")
# data frame May 2020
May_2020_df = pd.read_csv(May_2020, encoding="ISO-8859-1")
# data frame June 2020
June_2020_df = pd.read_csv(June_2020, encoding="ISO-8859-1")
# data frame July 2020
July_2020_df = pd.read_csv(July_2020, encoding="ISO-8859-1")
# data frame August 2020
Aug_2020_df = pd.read_csv(Aug_2020, encoding="ISO-8859-1")
# data frame September 2020
Sep_2020_df = pd.read_csv(Sep_2020, encoding="ISO-8859-1")
# data frame October 2020 
Oct_2020_df = pd.read_csv(Oct_2020, encoding="ISO-8859-1")

In [4]:
frames = [Jan_2019_df, Feb_2019_df, Mar_2019_df, Apr_2019_df, May_2019_df, June_2019_df, July_2019_df, Aug_2019_df, Sep_2019_df, Oct_2019_df, Nov_2019_df, Dec_2019_df, Jan_2020_df, Feb_2020_df, Mar_2020_df, Apr_2020_df, May_2020_df, June_2020_df, July_2020_df, Aug_2020_df, Sep_2020_df, Oct_2020_df]
combined_df = pd.concat(frames)
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
#check data to make sure even amount per row
combined_df.count()

tripduration               708780
starttime                  708780
stoptime                   708780
start station id           708780
start station name         708780
start station latitude     708780
start station longitude    708780
end station id             708780
end station name           708780
end station latitude       708780
end station longitude      708780
bikeid                     708780
usertype                   708780
birth year                 708780
gender                     708780
dtype: int64

In [6]:
#data types
combined_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
# Rename columns for readability
combined_df = combined_df.rename(columns={"tripduration": "Trip Duration (Sec)",
                                                "starttime": "Start Time",
                                                "stoptime": "Stop Time",
                                                "start station id": "Start Station ID",
                                                "start station name": "Start Station Name",
                                                "start station latitude": "Start Station Latitude",
                                                "start station longitude": "Start Station Longitude",
                                                "end station id": "End Station ID",
                                                "end station name": "End Station Name",
                                                "end station latitude": "End Station Latitude",
                                                "end station longitude": "End Station Longitude",
                                                "bikeid": "Bike ID",
                                                "usertype": "User Type",
                                                "birth year": "User Birth Year",
                                                "gender": "User Gender"
                                                })
combined_df

,Trip Duration (Sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User Birth Year,User Gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30081,1054,2020-10-31 23:32:22.8650,2020-10-31 23:49:57.5320,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,0
30082,156,2020-10-31 23:33:22.7310,2020-10-31 23:35:59.4930,3185,City Hall,40.717733,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,1
30083,1858,2020-10-31 23:37:01.7010,2020-11-01 00:07:59.7530,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,1
30084,1809,2020-10-31 23:37:46.1430,2020-11-01 00:07:55.2740,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,45341,Subscriber,1999,1
30085,395,2020-10-31 23:40:06.3530,2020-10-31 23:46:42.0640,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,1

In [8]:
#remove unknown values from gender column 1 = male; 2 = female and 0 = unknown
unknown_gender = combined_df[combined_df['User Gender'] == 0].index
combined_df.drop(unknown_gender, inplace=True)
#count
combined_df.count()

Trip Duration (Sec)        121549
Start Time                 121549
Stop Time                  121549
Start Station ID           121549
Start Station Name         121549
Start Station Latitude     121549
Start Station Longitude    121549
End Station ID             121549
End Station Name           121549
End Station Latitude       121549
End Station Longitude      121549
Bike ID                    121549
User Type                  121549
User Birth Year            121549
User Gender                121549
dtype: int64

In [10]:
#create day column
combined_df['Day'] = pd.DatetimeIndex(combined_df['Start Time']).day
#create month column
combined_df['Month'] = pd.DatetimeIndex(combined_df['Start Time']).month
#create year column
combined_df['Year'] = pd.DatetimeIndex(combined_df['Start Time']).year
#create minute column for trip duration
combined_df['Trip Duration (Min)'] = pd.to_timedelta(combined_df['Trip Duration (Sec)'], unit= 's')

combined_df

,Trip Duration (Sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User Birth Year,User Gender,Day,Month,Year,Trip Duration (Min)
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,1,1,2019,00:08:25
10,503,2019-01-01 17:34:50.9580,2019-01-01 17:43:14.3190,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29661,Customer,1992,1,1,1,2019,00:08:23
27,288,2019-01-02 12:22:12.8260,2019-01-02 12:27:01.5450,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29293,Subscriber,1981,2,2,1,2019,00:04:48
29,1360,2019-01-02 12:32:56.9960,2019-01-02 12:55:37.7920,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26208,Customer,1971,1,2,1,2019,00:22:40
48,295,2019-01-02 17:52:57.4720,2019-01-02 17:57:52.9640,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29640,Subscriber,1985,1,2,1,2019,00:04:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30042,383,2020-10-31 21:44:36.4110,2020-10-31 21:50:59.9250,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,45234,Subscriber,1964,1,31,10,2020,00:06:23
30043,95,2020-10-31 21:44:42.8970,2020-10-31 21:46:18.2460,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,44913,Subscriber,1994,1,31,10,2020,00:01:35
30048,325,2020-10-31 22:16:29.1550,2020-10-31 22:21:55.0740,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,40168,Subscriber,1987,1,31,10,2020,00:05:25
30069,998,2020-10-31 22:55:08.6930,2020-10-31 23:11:46.9200,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3268,Lafayette Park,40.713464,-74.062859,42251,Subscriber,1980,1,31,10,2020,00:16:38
30083,1858,2020-10-31 23:37:01.7010,2020-11-01 00:07:59.7530,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,1,31,10,2020,00:30:58

In [11]:
combined_df['User Gender'].replace([1],['Male'],inplace=True)
combined_df['User Gender'].replace([2],['Female'],inplace=True)
combined_df

,Trip Duration (Sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,User Birth Year,User Gender,Day,Month,Year,Trip Duration (Min)
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,1,1,2019,00:08:25
10,503,2019-01-01 17:34:50.9580,2019-01-01 17:43:14.3190,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29661,Customer,1992,Male,1,1,2019,00:08:23
27,288,2019-01-02 12:22:12.8260,2019-01-02 12:27:01.5450,3183,Exchange Place,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29293,Subscriber,1981,Female,2,1,2019,00:04:48
29,1360,2019-01-02 12:32:56.9960,2019-01-02 12:55:37.7920,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26208,Customer,1971,Male,2,1,2019,00:22:40
48,295,2019-01-02 17:52:57.4720,2019-01-02 17:57:52.9640,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29640,Subscriber,1985,Male,2,1,2019,00:04:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30042,383,2020-10-31 21:44:36.4110,2020-10-31 21:50:59.9250,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,45234,Subscriber,1964,Male,31,10,2020,00:06:23
30043,95,2020-10-31 21:44:42.8970,2020-10-31 21:46:18.2460,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,44913,Subscriber,1994,Male,31,10,2020,00:01:35
30048,325,2020-10-31 22:16:29.1550,2020-10-31 22:21:55.0740,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,40168,Subscriber,1987,Male,31,10,2020,00:05:25
30069,998,2020-10-31 22:55:08.6930,2020-10-31 23:11:46.9200,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3268,Lafayette Park,40.713464,-74.062859,42251,Subscriber,1980,Male,31,10,2020,00:16:38
30083,1858,2020-10-31 23:37:01.7010,2020-11-01 00:07:59.7530,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,Male,31,10,2020,00:30:58

In [12]:
# Export file as a CSV, without the Pandas index, but with the header
combined_df.to_csv("bikedata.csv", index=False, header=True)